@model SkyCableApiAndroid.Models.tblBill

@{
    ViewBag.Title = "PaidBillEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>PaidBillEdit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        @Html.HiddenFor(model => model.Bid)

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.CustId, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CustId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.CustName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.CustName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.NoOfBox, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.NoOfBox, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoOfBox, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.SetupBox_Details, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.SetupBox_Details, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SetupBox_Details, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Package, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Package, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Package, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.AgentName, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.AgentName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AgentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentDate1, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.PaymentDate1, new { htmlAttributes = new { @class = "form-control", @type="date" } })
                    @Html.ValidationMessageFor(model => model.PaymentDate1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentAmount1, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.PaymentAmount1, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaymentAmount1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentDate2, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.PaymentDate2, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.PaymentDate2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentAmount2, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.PaymentAmount2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaymentAmount2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.OldBal, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.OldBal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OldBal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Monthcharge, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Monthcharge, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Monthcharge, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Balance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Bmonth, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Bmonth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Bmonth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Byear, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Byear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Byear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>

    $(document).ready(function () {


        $("#PaymentAmount1").keyup(function () {

            var Amt, MCharge, Bal;

            Amt = $("#PaymentAmount1").val();
            MCharge = $("#Monthcharge").val();
            Bal = (MCharge - Amt);

            $("#Balance").val(Bal);


        });


        $("#PaymentAmount2").keyup(function () {

            var Amt2,Amt1, MCharge, Bal,Rbal;

            Amt1 = $("#PaymentAmount1").val();
            Amt2 = $("#PaymentAmount2").val();
            MCharge = $("#Monthcharge").val();

            Rbal = parseInt(Amt2) + parseInt(Amt1);

            console.log("Rbal="+Rbal);

            Bal = (parseInt(MCharge) - parseInt(Rbal));

            console.log("Bal"+Bal);


            $("#Balance").val(Bal);


        });


    });


</script>
